.accordion-list {
    display: flex;
}

.accordion {
    display: flex;
    flex-direction: column;
    margin-right: 3%;
}

.accordion button {
    width: fit-content;
}

.card {
    position: absolute;
    left: 0px;
    top: 15%;
}